# Ejercicio de Pandas

Carga las 2 librerias que hemos visto a lo largo del curso junto con su "apodo"

numpy, y pandas

**Coloca tu nombre y matricula** 

Nombre: Barbara Govea Serna

Matricula: 1902869

1. Carga las librerias básicas

In [52]:
import numpy as np
import pandas as pd

El siguiente comando importa un data frame desde un archivo csv de internet

In [53]:
ventas = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/ventas2.csv').round(1)

En caso de que una cantidad contenga decimales, debe estar redondeada a un decimal

2. Características del dataframe

In [54]:
#con código de python muestra cuantas filas y columnas tiene el dataframe y como se llaman las columnas
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Año     168 non-null    int64
 1   Mes     168 non-null    object
 2   Ventas  168 non-null    int64
 3   Gasto   168 non-null    int64
dtypes: int64(3), object(1)
memory usage: 5.4+ KB

In [55]:
#muestra las primeras 5 filas del dataframe
ventas.head()

    Año      Mes  Ventas  Gasto
0  2010    Enero    1056    533
1  2010  Febrero     910    496
2  2010    Marzo    1095    695
3  2010    Abril    1157    599
4  2010     Mayo     969    490

*ventas es una base de datos que contiene las ventas mensuales de una tienda X para los años 2010-2023*

3. Crea una nueva columna que se llame **Ganancias** y que contenga la diferencia entre ventas-gastos

In [56]:
## escribe aqui el código
ventas ['Ganancias'] = ventas['Ventas'] - ventas ['Gasto']
ventas.head()

    Año      Mes  Ventas  Gasto  Ganancias
0  2010    Enero    1056    533        523
1  2010  Febrero     910    496        414
2  2010    Marzo    1095    695        400
3  2010    Abril    1157    599        558
4  2010     Mayo     969    490        479

4. Encuentra el mes-año con las ganancias más altas, el mes-año con las ventas mas altas, y el mes-año con los costos mas altos

In [84]:
# Mes año con las ganancias mas altas
ventas.sort_values('Ganancias',ascending=False).head(1)

     Año     Mes  Ventas  Gasto  Ganancias
91  2017  Agosto    1680   1088        592

In [88]:
# Mes año con los costos mas altas
ventas.sort_values('Gasto',ascending=False).head(1)

      Año   Mes  Ventas  Gasto  Ganancias
160  2023  Mayo    2161   2262       -101

In [104]:
# Mes año con las ganancias mas altas
ventas.sort_values('Ganancias',ascending=False).head(1)

     Año     Mes  Ventas  Gasto  Ganancias
91  2017  Agosto    1680   1088        592

5. Calcula e imprime las ventas totales, gastos totales y ganancias totales de  todo el periodo\
Ejemplo de mensaje: **las ventas totales son: 5000**, etc

In [58]:
ventas_totales = ventas['Ventas'].sum()
gastos_totales = ventas['Gasto'].sum()
ganancias_totales = ventas['Ganancias'].sum()

print(f'Las ventas totales son: {ventas_totales}')
print(f'Los gastos totales son: {gastos_totales}')
print(f'Las ganancias totales son: {ganancias_totales}')

Las ventas totales son: 235731
Los gastos totales son: 181123
Las ganancias totales son: 54608

6. Calcula y muestra las ventas, gastos y ganancias para cada año

In [90]:
## escribe aqui el código
# ventas.loc['2010','Ventas'].sum()

7. Calcula y muestra las ventas promedio mensuales del año 2015

In [72]:
## escribe aqui el código
##Pista: primero filtra para el año 2015, luego selecciona la columna ventas 
ventas_2015 = ventas.query('Año == 2015')
prom_ventas_2015 = ventas_2015['Ventas'].mean().round(2)
print(f'El promedio mensual del año 2015 es: {prom_ventas_2015}')

El promedio mensual del año 2015 es: 1245.92

8. Calcula e imprime las ventas totales y ventas promedio para los eneros. Es decir, enero de 2010, enero de 2011, enero 2012, etc

In [101]:
## escribe aqui el código ventas totales
##Pista: primero filtra los meses de enero, luego selecciona la columna ventas 
totales_eneros = ventas.query('Mes == "Enero"')['Ventas'].sum()
prom_eneros = ventas.query('Mes == "Enero"')['Ventas'].mean().round(2)

print(f'Las ventas totales de los eneros es de: {totales_eneros}')
print(f'Las ventas promedio de los eneros es de: {prom_eneros}')

Las ventas totales de los eneros es de: 20073
Las ventas promedio de los eneros es de: 1433.79

## Aqui me quede

9. Calcula las ventas promedio por mes, guardalo en un dataframe y por ultimo muestra ordenado por ventas promedio de menor a mayor

In [ ]:
## aqui va tu codigo